*{
    margin: 0px;
    padding: 0px;
}
.header{

    width: 100%;
    height: 50px;
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.box{
    width: 550px;
    box-sizing: border-box;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.p1{
    /* padding-top: 50px; */
    margin-top: 150px;
}
.p2{
    padding-top: 25px;
}
input{
text-align: center;
/* border: 0px ; */
font-family: Arial, Helvetica, sans-serif;
width: 250px;
}
button{
    width: 250px;
    background-color: burlywood;
    color: white;
}
button:hover{
    background-color: cadetblue;
    color: black;
    transform: translateY(90px) ;
}
a{
    text-decoration: none;
}
